@charset "utf-8";
/* TOCOBO PJ 공통모듈 CSS - common.css */
/* 상단영역, 하단영역 반복디자인 */

/************* 상단영역 *************/
.top {
    background-color: rgb(240, 251, 255);
    position: relative;
    height: 140px;
}

.gnb {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.gnb ul {
    display: flex;
    justify-content: center;
}
.gnb li {
    margin: 0 10px;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo img {
    width: 100%;
}

.gnb a {
    color: rgb(227, 0, 0);
    font-size: 1.5rem;
}

.menu {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
    margin-right: 20px;
}
.menu img {
    width: 3rem;
}
.menu a + a {
    margin-left: 10px;
}

/* 메인 영역 */
.main .mainImg {
    position: absolute;
    width: 1400px;
    height: 780px;
}

/* .main .m1{
    top: 0; 
    /* position: relative;
} */

.main .txt {
    position: relative;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;

    /* width: max-content; */
    /* height: max-content;    */
}

.main h1,
.main p {
    color: red;
}

/* .main h1:,
.main p {
    color: blue;
} */

.main .cB {
    color:darkblue;
}
.main h1{
    font-weight: bold;
    padding-bottom: 30px;
}
/************* 하단영역 *************/
.info {
    position: relative;
    height: 488px;
}
