@charset "utf-8";
/* TOCOBO PJ 공통모듈 CSS - common.css */
/* 상단영역, 하단영역 반복디자인 */

/************* 상단영역 *************/
.top{
    position: relative;
    height: 140px;
}

.gnb{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.gnb ul{
    display: flex;
    justify-content: center;
}
.gnb li{
    margin: 0 10px;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.logo img{
    width: 100%;
}

.gnb a{
    font-size: 10px;
}

.menu{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

/************* 하단영역 *************/
.info {
    position: relative;
    height: 488px;
}