@charset "utf-8";
/* TOCOBO PJ 공통 클래스 css - core.css */
/* 웹폰트, 공용클래스 */

/* font-family: "Circular Std","Noto Sans KR";
    letter-spacing: -0.05em;
     */
/* 공사중 */
body *{
    outline: 1px dashed red;
}

.ibx{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.ct4 .cbx{
    flex: 1;
    flex-basis: 100%;
}

.main {
    height: 950px;
}


/* 공통 파티션 12그리드 클래스 */
/* col-숫자 : 숫자는 기둥의 수 
한 줄에는 최대한이 12기둥이 되어야함*/

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
