@charset "utf-8";
/* TOCOBO PJ 메인 페이지 css - main.css */

/* 공통 외부CSS 합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);


/* 메인 영역 */

.main img {
    /* position: absolute; */
    width: 100%;
    box-sizing: border-box;
    max-height: 780px;
}

.txts{
    /* display: none; */
    /* position: relative; */
    width: 100%;
    height: auto;
    bottom: 0;
}

.main .txt {
    /* position: absolute;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%); */

    width: max-content;
    /* height: max-content;    */

}

.main h1, .main p {
    font-weight: bold;
    color: #DC272D;
    width: 100%;
}

/* .main .cB {
    color:#009baede;
} */
/* .main h1:,
.main p {
    color: blue;
} */


.main h1{
    padding-bottom: 30px;
}
 

/* ____________________________________________ */

.pt1 .cbx.col-6 {
    padding: 50px 50px;
}

.pt1{
    display: flex;
    width: 100%;
    margin: 140px 0 0;
}

.main img{
    /* position: absolute; */
    /* display: block; */
    border-radius: 10px;
    width: 100%;
    vertical-align: middle;
    /* padding-top: 50%; */
    /* margin: 0; */
} 

.cbx.col-6:nth-child(2){
    display: flex;
}

/*  _____________________________________ */

.pt2{
    /* position: relative; */
    margin: 100px 0 0;
    padding: 50px 0 90px;
    /* display: flex; */
    width: 100%;
}

.pt2 h1, p{
    text-align: center;
}
.pt2 h1{
    margin: 0 0 20px;
}

.titTop p{
    color:#009baede
}
.cbx.col-12:nth-child(2){
    height: 680px;
}


/* _______________ */

.cbx.col-12.titTop {
    padding: 0 0 70px;
}

.cont4 ul{
    display: flex;
    box-sizing: content-box;
    justify-content: space-around;

}

/* ___________________________ 리뷰 + 제품 */
.imgbox img{
    width: 500px;
    height: 350px;
}